<h1>Quotes</h1>
<hr>
<div class="container">
    <div class="row">
        <app-quote-form></app-quote-form>
    </div>
    <div *ngFor='let quote of Quotes;let i=index'>
        <li>{{quote.name}} due on {{quote.completeDate|date|uppercase}}</li>
        <button class="btn btn-primary" (click)='toggleDetails(i)'>Toggle Details</button>
        <app-quote-details *ngIf="quote.showDescription" [quote]='quote' (isComplete)='deleteQuote($event,i)'></app-quote-details>
    </div>
    <hr>
    <p *ngIf='Quotes.length>5'>You have too many quotes</p>
</div>
    